

/*TÍTULO CONTENEDOR PRINCIPAL DEL JUGADOR*/

    #player-main-container{
        background-color: #6A331D;
        display: flex;
        box-shadow: 0 8px 12px rgba(0, 0, 0, 0.5);
    }


    /*TÍTULO: NIVEL DE EXPERIENCIA*/

        #exp-container{
            width: 200px;
            display: flex;
            justify-content:center;
            align-items:center;

        }

        #exp-container img{
            position: absolute;
            top: 100px;
        }

        #exp-container h2{
            position: absolute;
            align-self: center;
            top: 100px;
            color: white;
            display: flex;
        }


    /*TÍTULO: NIVEL DE AYUNTAMIENTO*/

        #town-hall-container{
            width: 30%;
            margin: auto;
            text-align: center;
            align-items: center;

        }

        #town-hall-container img{
            display: inline-block;
        }

        #town-hall-container h2{
            color: white;
        }


    /*TÍTULO: INFORMACIÓN DEL JUGADOR*/

        #player-container{
            width: 200px;
            padding: 0;
            height: auto;
        }

        #player-container #nombre-jugador-span{
            color: white;
            font-size: 30px;
        }

        #player-container #tag-jugador-span{
            color: white;
            font-size:10px;
        }

        #player-container #clan-name-span{
            color: #FFEB3B;
            font-size:20px;
        }

        #player-container #trophies-content{
            background-color: black;
            color: white;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
        }

    
/*SECCIÓN COLECCIONES*/

    #collections-container{
        background-color: #6A331D;
        display: flex;
        justify-content: space-evenly;
    }

/*TÍTULO CONTENEDOR PRINCIPAL DE TROPAS*/

        #troops-main-container {
            margin-top: 20px;
            width: 30%;
            height:auto;
            padding: 20px;
            background-color: #4A1E04; /* Fondo madera oscura */
            border-radius: 10px;
            color: #FFD700; /* Texto oro brillante */
        }

        #troops-content {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
            grid-template-rows: repeat(2, auto); /* Dos filas */
            gap: 10px;
            overflow-x: auto; /* Scroll horizontal */
            padding: 10px;
            white-space: nowrap;
        }

    
       #info-troops {
            text-align: center;
            background-color: #6A331D; /* Fondo madera cálida */
            border: 2px solid #FFD700; /* Borde dorado */
            border-radius: 8px;
            padding: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
        }

        #info-troops img {
            width: 60px;
            height: 60px;
            object-fit: cover;
        }

        #info-troops p {
            margin-top: 5px;
            text-align: center;
            font-family: 'Cinzel', serif; /* Fuente medieval */
            font-size: 12px;
            color: #FFF2C2; /* Texto arena */
        }




/*TÍTULO CONTENEDOR PRINCIPAL DE HECHIZOS*/

    #spells-main-container {
        width: 30%;
        margin-top: 20px;
        padding: 20px;
        background-color: #4A1E04; /* Fondo madera oscura */
        border-radius: 10px;
        color: #FFD700; /* Texto oro brillante */
    }

    #spells-content {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        grid-template-rows: repeat(2, auto); /* Dos filas */
        gap: 10px;
        overflow-x: auto; /* Scroll horizontal */
        padding: 10px;
        white-space: nowrap;
    }


    #info-spells {
        text-align: center;
        background-color: #6A331D; /* Fondo madera cálida */
        border: 2px solid #FFD700; /* Borde dorado */
        border-radius: 8px;
        padding: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    }

    #info-spells img {
        width: 60px;
        height: 60px;
        object-fit: cover;
    }

    #info-spells p {
        margin-top: 5px;
        text-align: center;
        font-family: 'Cinzel', serif; /* Fuente medieval */
        font-size: 12px;
        color: #FFF2C2; /* Texto arena */
    }

/*TÍTULO CONTENEDOR PRINCIPAL DE HÉROES*/

    #heroes-main-container {
        width: 10%;
        margin-top: 20px;
        padding: 20px;
        background-color: #4A1E04; /* Fondo madera oscura */
        border-radius: 10px;
        color: #FFD700; /* Texto oro brillante */
    }

    #heroes-content {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        grid-template-rows: repeat(2, auto); /* Dos filas */
        gap: 10px;
        overflow-x: auto; /* Scroll horizontal */
        padding: 10px;
        white-space: nowrap;
    }


    #info-heroes {
        text-align: center;
        background-color: #6A331D; /* Fondo madera cálida */
        border: 2px solid #FFD700; /* Borde dorado */
        border-radius: 8px;
        padding: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    }

    #info-heroes img {
        width: 60px;
        height: 60px;
        object-fit: cover;
    }

    #info-heroes p {
        margin-top: 5px;
        text-align: center;
        font-family: 'Cinzel', serif; /* Fuente medieval */
        font-size: 12px;
        color: #FFF2C2; /* Texto arena */
    }
        



