<!--Menú-->
<app-menu></app-menu>

<!--TÍTULO CONTENEDOR PRINCIPAL DEL JUGADOR-->

    <div *ngIf="playerData" id="player-main-container">

        <!--TÍTULO: NIVEL DE EXPERIENCIA-->

            <div id="exp-container">
                <img src="/assets/img/icons_coc/exp_icon.webp" alt="" width="75">
                <h2>{{ playerData.expLevel }}</h2>
            </div>


        <!--TÍTULO: NIVEL DE AYUNTAMIENTO-->

            <div id="town-hall-container">
                <img src="/assets/img/ayuntamientos/town_hall_{{ playerData.townHallLevel }}.png" alt="">
                <h2>Nivel {{ playerData.townHallLevel}}</h2>
            </div>


        <!--TÍTULO: INFORMACIÓN DEL JUGADOR-->
    
            <div id="player-container">

                <span id="nombre-jugador-span"><strong>{{ playerData.name }}</strong></span>
                <br>
                <span id="tag-jugador-span">{{ playerData.tag }}</span>
                <br>
                <span id="clan-name-span">{{ playerData.clan?.name }}</span>
                <br>
                <div id="trophies-content">
                    <img src="/assets/img/icons_coc/trophy_icon.png" alt="" width="30" height="30">
                    <h3>{{ playerData.trophies }}</h3>
                </div>
                
            </div>
    
    </div>


<!--SECCIÓN: COLECCIONES-->

    <div id="collections-container">
        
    <!--TÍTULO CONTENEDOR PRINCIPAL DE TROPAS-->

        <div id="troops-main-container">
            <h2>Tropas</h2>
    
            <div id="troops-content" class="scrollable-carousel">
                <div id="info-troops" *ngFor="let troop of filteredTroops">
                    <img src="assets/img/troops/{{ troop.name }}.png" alt="{{ troop.name }}">
                    <p>{{ troop.name }}</p>
                </div>
            </div>
            
        </div>



    <!--TÍTULO CONTENEDOR PRINCIPAL DE HECHIZOS-->

        <div id="spells-main-container">
            <h2>Hechizos</h2>

            <!--TÍTULO: INFORMACIÓN DE LOS HECHIZOS-->

                <div id="spells-content">
                    <div *ngFor="let spell of filteredSpells" id="info-spells">
                        <img src="/assets/img/spells/{{spell.name}}.png" alt="">
                        <p>{{ spell.name }}</p>
                    </div>
                </div>

    
        </div>


    <!--TÍTULO CONTENEDOR PRINCIPAL DE HECHIZOS-->

        <div id="heroes-main-container">
            <h2>Héroes</h2>

            <!--TÍTULO: INFORMACIÓN DE LOS HECHIZOS-->

                <div id="heroes-content">
                    <div *ngFor="let heroe of filteredHeroes" id="info-heroes">
                        <img src="/assets/img/heroes/{{heroe.name}}.png" alt="">
                        <p>{{ heroe.name }}</p>
                    </div>
                </div>


        </div>

    </div>



    

    

   

        


    
