<!--Menú-->
<app-menu></app-menu>

<!--TÍTULO CONTENEDOR PRINCIPAL DEL JUGADOR-->

    <div *ngIf="playerData" id="player-main-container">

        <!--TÍTULO: NIVEL DE EXPERIENCIA-->

            <div id="exp-container">
                <img src="img/icons_coc/exp_icon.webp" alt="" width="75">
                <h2>{{ playerData.expLevel }}</h2>
            </div>


        <!--TÍTULO: NIVEL DE AYUNTAMIENTO-->

            <div id="town-hall-container">
                <img src="img/ayuntamientos/town_hall_{{ playerData.townHallLevel }}.png" alt="">
                <h2>Nivel {{ playerData.townHallLevel}}</h2>
            </div>


        <!--TÍTULO: INFORMACIÓN DEL JUGADOR-->
    
            <div id="player-container">

                <span id="nombre-jugador-span"><strong>{{ playerData.name }}</strong></span>
                <br>
                <span id="tag-jugador-span">{{ playerData.tag }}</span>
                <br>
                <span id="clan-name-span">{{ playerData.clan?.name }}</span>
                <br>
                <div id="trophies-content">
                    <img src="img/icons_coc/trophy_icon.png" alt="" width="30" height="30">
                    <h3>{{ playerData.trophies }}</h3>
                </div>
                
            </div>
    
    </div>


<!--TÍTULO CONTENEDOR PRINCIPAL DE TROPAS-->

    <div id="troops-main-container">
        <h2>Tropas</h2>

        <!--TÍTULO: INFORMACIÓN DE LAS TROPAS-->
        
            <div id="troops-content">
                
                <div *ngFor="let troop of troopsToShow" id="info-troops">

                    <div>
                        <img src="img/troops/{{ troop.name }}.png" alt="{{ troop.name }}">
                        <h4>{{ troop.name }}</h4>
                        <h3>{{ troop.level }}</h3>
                    </div>

                </div>
                    
            </div>


        <!--TÍTULO: BOTONES PAGINATION-->

        <div id="nav-buttons-content">
            <!-- Botones de navegación para el carrusel -->
            <button (click)="moveCarousel('prev')" [disabled]="currentPage === 0">Anterior</button>
            <button (click)="moveCarousel('next')" [disabled]="currentPage === totalPages - 1">Siguiente</button>
        </div>
          

    </div>
    

    

   

        


    
