<!--Menú-->
<app-menu></app-menu>



<!--TÍTULO SIMULACIÓN-->

    <div id="simulacion-container">
        <div id="opc-train-content">

            <!--TÍTULO: ENTRENAR TROPAS-->

                <div id="troops-train-content">
                    <button (click)="entrenarTropas()" [disabled]="btnEntrenarTropas">Entrenar Tropas</button>

                    <h3>Tropas entrenadas</h3>
                    <p>Espacio usado: {{ totalSpaceUsed }} / 260</p>
                    
                    <div id="random-troops-content" class="mostrar-tropas">
                        <div *ngFor="let troop of troopsToShow" id="info-troops">
                        <div>
                            <img src="assets/img/troops/{{ troop.name }}.png" alt="{{ troop.name }}">
                            <h4>{{ troop.name }}</h4>
                            <p>Cantidad: {{ troop.quantity }}</p>
                        </div>
                        </div>
                    </div>
                </div>

            
            <!--TÍTULO: ELABORAR HECHIZOS-->

                <div id="spells-elab-content">
                    <button (click)="elaborarHechizos()" [disabled]="btnElaborarHechizos">Elaborar hechizos</button>

                    <h3>Hechizos elaborados</h3>
                    <p>Espacio usado: {{ totalSpaceSpellUsed }} / 11</p>
                    
                    <div id="random-spells-content" class="mostrar-hechizos">
                        <div *ngFor="let spell of spellsToShow" id="info-spells">
                        <div>
                            <img src="assets/img/spells/{{ spell.name }}.png" alt="{{ spell.name }}">
                            <h4>{{ spell.name }}</h4>
                            <p>Cantidad: {{ spell.quantity }}</p>
                        </div>
                        </div>
                    </div>
                </div>
               
            
            <!--TÍTULO: ELEGIR HÉROES-->

                <div id="heroes-choice-container">
                    <button (click)="elegirHeroes()" [disabled]="btnElegirHeroes">Elegir Héroes</button>
                    <h3>Héroes seleccionados</h3>
                    <p>3 / 3</p>
                    <div id="random-heroes-content" class="mostrar-heroes">
                        <div *ngFor="let hero of heroesData" id="info-heroes">
                        <div>
                            <img src="assets/img/heroes/{{ hero.name }}.png" alt="{{ hero.name }}">
                            <h4>{{ hero.name }}</h4>
                            <p>Nivel: {{ hero.level }}</p>
                        </div>
                        </div>     
                    </div>
                </div>
        </div>
        <br>
        
        <div id="btn-simular">
            <button (click)="simular()">Simular</button>
        </div>
        
    </div>

    <!-- Modal Resultado -->
    <div id="resultadoModal" class="modal hidden">
        <div class="modal-content">
            <span class="close" (click)="cerrarModal()">&times;</span>
            <h3>Resultado de la Simulación</h3>
            <p>Estrellas obtenidas: {{ estrellas }}</p>
            <p>Porcentaje de daño: {{ porcentajeDano }}%</p>
        </div>
    </div>

 
<div>




      
    